<div class="comments-holder">
	<div class="container">
		<div class="section-title">
			<h2>4 Comments</h2>
			<p>Join the discussion and tell us your opinion.</p>
		</div>
		<div class="comment even thread-even depth-1 comment-holder col-xs-12" id="comment-23">
			<div class="row">
				<div class="commenter-image">
					<a href="http://www.laborator.co/" target="_blank"><img alt="" src="/images/b48eb009c8ae5ddf2bfa17271959c073" srcset="http://2.gravatar.com/avatar/b48eb009c8ae5ddf2bfa17271959c073?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96"></a>
							</div>
				<div class="commenter-details col-xs-10">
					<div class="name">
						Art<a rel="nofollow" class="comment-reply-link" href="http://demo.kaliumtheme.com/main/best-tips-for-a-successful-magazine/?replytocom=23#respond" onclick="return addComment.moveForm( &quot;comment-23&quot;, &quot;23&quot;, &quot;respond&quot;, &quot;2931&quot; )" aria-label="Reply to Art">reply</a>			</div>

					<div class="date">
						Saturday at 01:03 PM
									</div>

					<div class="comment-text post-formatting">
						<p>Great article, this helped me a lot!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="comment byuser comment-author-admin bypostauthor odd alt depth-2 comment-holder col-xs-12 col-sm-11" id="comment-28" data-replied-to="comment-23">
			<div class="row">
				<div class="commenter-image">
					<img alt="" src="/images/27a7c819c8b83c0d36bbb9a8f714f665(1)" srcset="http://2.gravatar.com/avatar/27a7c819c8b83c0d36bbb9a8f714f665?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96">
					<div class="comment-connector visible" style="padding-top: 116.5px; width: 60.5px;"></div>
				</div>
				<div class="commenter-details col-xs-10">
					<div class="name">
						John Ive<a rel="nofollow" class="comment-reply-link" href="http://demo.kaliumtheme.com/main/best-tips-for-a-successful-magazine/?replytocom=28#respond" onclick="return addComment.moveForm( &quot;comment-28&quot;, &quot;28&quot;, &quot;respond&quot;, &quot;2931&quot; )" aria-label="Reply to John Ive">reply</a>			</div>

					<div class="date">
						Saturday at 01:03 PM
										<div class="in-reply-to">
							– In reply to: <span class="replied-to">Art</span>				</div>
									</div>

					<div class="comment-text post-formatting">
						<p>Hey Art,<br>
							thank you for your kind words – I will keep the blog updated every week.</p>
						<p>– Johny</p>
					</div>
				</div>
			</div>
		</div>
		<div class="comment even thread-odd thread-alt depth-1 comment-holder col-xs-12" id="comment-90">
			<div class="row">
				<div class="commenter-image">
					<a href="http://--/" target="_blank"><img alt="" src="/images/e360dd9ac68fea8d9ed251937832948d" srcset="http://2.gravatar.com/avatar/e360dd9ac68fea8d9ed251937832948d?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96"></a>
							</div>
				<div class="commenter-details col-xs-10">
					<div class="name">
						Random Name<a rel="nofollow" class="comment-reply-link" href="http://demo.kaliumtheme.com/main/best-tips-for-a-successful-magazine/?replytocom=90#respond" onclick="return addComment.moveForm( &quot;comment-90&quot;, &quot;90&quot;, &quot;respond&quot;, &quot;2931&quot; )" aria-label="Reply to Random Name">reply</a>			</div>

					<div class="date">
						Wednesday at 08:11 AM
									</div>

					<div class="comment-text post-formatting">
						<p>Lorem ipsum is a text?</p>
					</div>
				</div>
			</div>
		</div>
		<div class="comment odd alt depth-2 comment-holder col-xs-12 col-sm-11" id="comment-160" data-replied-to="comment-90">
			<div class="row">
				<div class="commenter-image">
					<img alt="" src="/images/aad026c2bf09523e41e273392625f80f" srcset="http://1.gravatar.com/avatar/aad026c2bf09523e41e273392625f80f?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96">
								<div class="comment-connector visible" style="padding-top: 116.5px; width: 60.5px;"></div>
							</div>
				<div class="commenter-details col-xs-10">
					<div class="name">
						inchenaim<a rel="nofollow" class="comment-reply-link" href="http://demo.kaliumtheme.com/main/best-tips-for-a-successful-magazine/?replytocom=160#respond" onclick="return addComment.moveForm( &quot;comment-160&quot;, &quot;160&quot;, &quot;respond&quot;, &quot;2931&quot; )" aria-label="Reply to inchenaim">reply</a>			</div>

					<div class="date">
						Saturday at 06:06 PM
										<div class="in-reply-to">
							– In reply to: <span class="replied-to">Random Name</span>				</div>
									</div>

					<div class="comment-text post-formatting">
						<p>Hei, this is what i am looking for. A very cool theme!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="leave-reply-holder">
    <div class="container">
		<div id="respond" class="comment-respond">
			<h3 id="reply-title" class="comment-reply-title">Leave a reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="http://demo.kaliumtheme.com/main/best-tips-for-a-successful-magazine/#respond" style="display:none;">Cancel reply</a></small></h3>				
			<form action="http://demo.kaliumtheme.com/main/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
				<div class="message-form">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<div class="placeholder ver-two">
									<label for="comment">Comment</label>
								</div>
								<textarea id="comment" name="comment" cols="45" rows="8" aria-describedby="form-allowed-tags" aria-required="true"></textarea>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group absolute">
								<div class="placeholder">
									<label for="author">Name <span class="required">*</span></label>
								</div> 
								<input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required="true" required="required">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group absolute">
								<div class="placeholder">
									<label for="email">Email <span class="required">*</span></label>
								</div> 
								<input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required="true" required="required">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group absolute">
								<div class="placeholder">
									<label for="url">Website</label>
								</div> 
								<input id="url" name="url" type="url" value="" size="30" maxlength="200">
							</div>
						</div>
						<p class="form-submit">
							<input name="submit" type="submit" id="submit" class="send" value="Comment"> 
							<input type="hidden" name="comment_post_ID" value="2931" id="comment_post_ID">
							<input type="hidden" name="comment_parent" id="comment_parent" value="0">
						</p>				
					</div><!-- #respond -->
				</div>
			</form>
		</div>
	</div>
</div>	