</div>	
	<footer id="footer" class="main-footer footer-bottom-horizontal">
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-content">
					<div class="footer-content-right">
						<ul class="social-networks textual">
							<!-- <li><a href="" target="_blank" class="color facebook" title="Facebook"><i class="fa fa-facebook"></i><span class="name">Facebook.</span></a></li> -->
						</ul>					
					</div>
					
					<div class="footer-content-left">
						<div class="copyrights">
							<p>© Copyright 2016. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<!-- <script type="text/javascript" src="/js/jquery-migrate.min.js"></script> -->
	<!-- <script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script> -->
	<!-- <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script> -->
	<!-- images loader -->
	<!-- <script type="text/javascript" src="/js/jquery.cycle2.renamed.js"></script> -->
	<!-- <script type="text/javascript" src="/js/jquery.cycle2.scrollVert.renamed.js"></script> -->
	<!-- <script type="text/javascript" src="/js/jquery.cycle2.carousel.renamed.js"></script> -->
	<!-- <script type="text/javascript" src="/js/rotatingtweets_v2.js"></script> -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/joinable.min.js"></script><!-- 动画 -->
	<!-- <script type="text/javascript" src="/js/wp-embed.min.js"></script> -->
	<script type="text/javascript" src="/js/custom.min.js"></script>

	<script src="/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	
	<!-- <iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" src=""></iframe> -->
</body>
</html>