<!-- 用户侧边 -->
	<div class="sidebar-menu-wrapper menu-type-standard-menu sidebar-alignment-right menu-skin-light">
		<div class="sidebar-menu-container ps-container ps-theme-default ps-active-y" >
			<a class="sidebar-menu-close" href="#"></a>
			
			<div class="single-blog-holder ">
    			<div class="author-info-placement-left">
	    			<div class="blog-author-holder has-no-description">
						<div class="author-avatar">
							<a href="/" class="author-link">
								<img alt="" src="/images/logo.jpg" srcset="" class="avatar avatar-192 photo" height="192" width="192">
							</a>	
						</div>
					</div>		    			
					<div class="details">
						<div class="date">
							<i class="icon icon-basic-male"></i>{{.Site.Params.author}}
						</div>
						<div class="date">
							<i class="icon icon-basic-geolocalize-05"></i>{{ .Site.Params.address }}	
						</div>
						<div class="date">
							<i class="icon icon-basic-mail"></i>{{ .Site.Params.email }}	
						</div>
						<div class="date">
							<i class="icon icon-basic-link"></i>{{ .Site.BaseURL }}	
						</div>
						<div class="date">
							<i class="icon icon-basic-laptop"></i>{{ .Site.Params.email }}	
						</div>
					</div>
    			</div>
    		</div>
		
			<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
				<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
			</div>
			<div class="ps-scrollbar-y-rail" style="top: 0px; height: 827px; right: -5px;">
				<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 547px;"></div>
			</div>
		</div>
	</div>