<div class="top-menu-container menu-type-standard-menu menu-skin-dark">
	<div class="container">
		<div class="row row-table row-table-middle">
			<div class="col-sm-4">
				<nav class="top-menu menu-row-items-2">
					<ul id="menu-sidebar-menu" class="menu">
						<li id="menu-item-3752" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3752"><a href="/">Home</a></li>
						<li id="menu-item-3753" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3753"><a href="#weisd">About Me</a></li>
						<li id="menu-item-3754" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2937 current_page_item current_page_parent menu-item-3754"><a href="/main/blog/">Blog</a></li>
						<li id="menu-item-3756" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3756"><a href="/main/portfolio/">Portfolio</a></li>
						<li id="menu-item-3757" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3757"><a href="/main/services/">Services</a></li>
						<li id="menu-item-3755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3755"><a href="/main/contact/">Contact</a></li>
						<li id="menu-item-4133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4133"><a target="_blank" href="http://themeforest.net/item/kalium-creative-theme-for-professionals/10860525?ref=Laborator">Buy Theme!</a></li>
					</ul>					
				</nav>
			</div>	
			<div class="col-sm-8">
				<div class="row blog-sidebar">
					<div class="col-sm-6">
						<div class="sidebar-box-holder wp-widget text-3 widget_text">
							<h3 class="sidebar-entry-title">Let’s work together</h3>		
							<div class="textwidget">
								<p>Like our work? Arrange a meeting with us at our office, We'll be happy to work with you!</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="sidebar-box-holder wp-widget text-4 widget_text">
							<h3 class="sidebar-entry-title">Wanna join our crazy team?</h3>
							<div class="textwidget">
								<p>We are always looking for new talents and we were expecting you. Time to apply, buddy!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>